<!DOCTYPE html >
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{../../../static/css/index2.css}">
    <title>山田家</title>
</head>
<body>
<div id="div1">
    <table id="table" border="1">
        <tr>
            <th>名前</th>
            <th>年齢</th>
        </tr>
        <tr th:each="result : ${results}">
            <td th:text="${result.userName}"></td>
            <td th:text="${result.userAge}"></td>
        </tr>
    </table>
</div>
<button id="button">色変え</button>
<script type="text/javascript" th:src="@{../../../static/js/index2.js}"></script>
</body>
</html>
